use flake . --impure

# auto-load .env file if it exists
if [ -f .env ]; then
  dotenv .env
fi

export NIX_DAEMON_NAME=nix-daemon-shared-linux-amd64
export NIX_VOLUME_NAME=nix-store-linux-amd64
export NIX_DEV_CONTAINER_DOCKER_NIX_BUILD_EXTRA_ARGS="--platform linux/amd64"
export NIX_DEV_CONTAINER_DOCKER_NIX_RUN_EXTRA_ARGS="--platform linux/amd64"
export NIX_DEV_CONTAINER_DOCKER_BUILD_EXTRA_ARGS="--platform linux/amd64"
export NIX_DEV_CONTAINER_DOCKER_RUN_EXTRA_ARGS="--platform linux/amd64"
export NIX_DEV_CONTAINER_PLATFORM="linux/amd64"
